<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%# <%= render "users/shared/error_messages", resource: resource %>

  <div class="field <%= 'has-error' if resource.errors[:name].any? %>">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <% if resource.errors[:name].any? %>
      <p class="help-block"><%= resource.errors[:name].join(', ') %></p>
    <% end %>
  </div>

  <div class="field <%= 'has-error' if resource.errors[:nickname].any? %>">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    <% if resource.errors[:nickname].any? %>
      <p class="help-block"><%= resource.errors[:nickname].join(', ') %></p>
    <% end %>
  </div>

  <div class="field <%= 'has-error' if resource.errors[:email].any? %>">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors[:email].any? %>
      <p class="help-block"><%= resource.errors[:email].join(', ') %></p>
    <% end %>
  </div>


  <div class="field <%= 'has-error' if resource.errors[:password].any? %>">
    <%= f.label :password %>（8文字以上。アルファベット、大文字アルファベット、数字を1文字ずつ含んで下さい）<br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if resource.errors[:password].any? %>
      <p class="help-block"><%= resource.errors[:password].join(', ') %></p>
    <% end %>
  </div>

  <div class="field <%= 'has-error' if resource.errors[:password_confirmation].any? %>">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <% if resource.errors[:password_confirmation].any? %>
      <p class="help-block"><%= resource.errors[:password_confirmation].join(', ') %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
